SECRET_KEY=
DEBUG=
ENV=development
ALLOWED_HOSTS=
DATABASE_URL=
REDIS_URL=
FRONTEND_URL=https://farmhub-frontend-beta.vercel.app
CORS_ALLOWED_ORIGINS=https://farmhub-frontend-beta.vercel.app
CSRF_TRUSTED_ORIGINS=https://farmhub-frontend-beta.vercel.app
DJANGO_SETTINGS_MODULE=
DEFAULT_FROM_EMAIL=
SENDGRID_API_KEY=
SENDGRID_SANDBOX_MODE_IN_DEBUG=
LOG_FORMAT=
AUTH_COOKIE_SECURE=
AUTH_COOKIE_HTTP_ONLY=
AUTH_COOKIE_PATH=/
AUTH_COOKIE_SAMESITE=Lax
AUTH_COOKIE_DOMAIN=
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_BASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
POSTGRES_PASSWORD=
