# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# Django
*.sqlite3
media/
staticfiles/
static/
logs/

# Environment variables
.env
.env.*
!.env.example

# VS Code
.vscode/

# PyCharm
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Migrations backup (optional)
*/migrations/__pycache__/

# Test / coverage artifacts
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Logs
*.log
